* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Inter', sans-serif !important;
  color: #545454;
  overflow: auto !important;
  height: 100vh;
  background-color: rgb(240, 241, 243);
}
.warn {
  min-width: 45vw !important;
  border: 1px solid white !important;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 10px !important;
  /* background-color: rgb(64, 170, 151) !important; */
  /* color:white !important; */
}
.sizeButton {
  width: 14px !important;
  height: 14px !important;
  padding: 0;
}
/* .luckysheet-cell-loading{
display: none !important;
} */
.bg-wbs {
  --un-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--un-bg-opacity));
}
.bg-base {
  --un-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--un-bg-opacity));
}
.bg-compare {
  --un-bg-opacity: 1;
  background-color: rgba(187, 222, 251, var(--un-bg-opacity));
}
.bg-add {
  --un-bg-opacity: 1;
  background-color: rgba(149, 222, 100, var(--un-bg-opacity));
}
.bg-remove {
  --un-bg-opacity: 1;
  background-color: rgba(255, 229, 143, var(--un-bg-opacity));
}
.el-overlay {
  z-index: 1000 !important;
}
#luckysheet-input-box {
  z-index: 1001 !important;
}

.legend {
  display: flex;
  align-items: flex-start;
  position: relative;
  font-size: 11px;
  flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-pack: start;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.item {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 23px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ececec;
  margin-right: 5px;
}

.circle.critical {
  background-color: #d53e4f;
}
